.navbar{
  padding: 10px;
  margin: 10px;
  height: 2rem;
  display: flex;
  align-items: center;
}
a{
  font-weight: bold;
  text-decoration: none;
  margin-top: 20px;
}
h5{
  color: #1b7fe3
}
.search-part{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: black;
  border: 2px solid black; ;
  padding: 10px;
  margin: 10px;
}
.read-more{
  text-decoration: none;
  font-weight: bold;
  font-size: smaller;
  margin-top: 1.5rem;
  padding: 5px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}
.list-card {
  padding: 0 10px 20px 10px;
  margin: 0 10px 10px 10px;
  border-bottom: 0.5px solid grey;
}
.list-box{
  display: flex;
  flex-direction: column;
  width: 35%;
}
.display-box{
  display: flex;
  flex-direction: column;
  width: 65%;
  background-color: white;
  color: black;
}
.headline-message{
  text-align: center;
}
h2 {
  text-justify:newspaper;
}
h1{
  text-justify: newspaper;
}
p{
  text-justify: newspaper;
}
#list{
  margin: 10px 0 0 10px;
  padding: 0 0 0 10px;
}
img{
  padding: 10px;
}
.headline-item{
  border-radius: 10px;
  border: 0.5px solid grey;
  border-style: solid;
  width: 20rem;
  height: 32rem;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headline-top{
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headline-bottom{
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headlines-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
}
.headlines-box{
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  justify-content: center;
}
.readpage{
  display: flex;
  color: white;
  background-color: black;
}
iframe{
  width: 100%;
  height: 100%;
}
.display-box{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  align-items: center;
  border-left: 0.5px solid grey;
}

.about{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.principles-list{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content:center;
  flex-wrap: wrap;
}

.principles{
  border: 1px solid white;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  width: 20%;
  height: auto;
}